h1{
    text-align: center;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

.find-btn{
	text-align: center;
}
.find-btn1{
	display :inline-block;
	width: 100px;
	height: 50px;
}

.find-btn2{
	display :inline-block;
	width: 100px;
	height: 50px;
}

#canvas{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 50px;
}

#canvas2{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 300px;
    margin-top: 50px;
}

#label-container{
    text-align: center;
}